@model Presentation.Models.ProfileModel;

@{
    ViewBag.Title = "Edit Profile";
    Layout = "_Layout";
    string ErrorMessage = ViewBag.ErrorMessage;
}

<main class="flex flex-col h-screen w-full justify-center items-center">
    <div class="bg-[#F7F7F7] p-8 w-full max-w-sm rounded-2xl shadow-xl border-1">
        <h2 class="text-2xl font-semibold mb-6 text-center text-gray-700">Profile</h2>
        
        @if (ErrorMessage != null)
        {
            <span> @ErrorMessage </span>
        }

        <form asp-action="EditProfile" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-4">
                <label asp-for="email" class="block text-gray-700 text-sm mb-2">Email</label>
                <input asp-for="email"
                       class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <span asp-validation-for="email" class="text-red-500 text-xs mt-1"></span>
            </div>

            <div class="mb-4">
                <label asp-for="name" class="block text-gray-700 text-sm mb-2">Name</label>
                <input asp-for="name"
                       class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <span asp-validation-for="name" class="text-red-500 text-xs mt-1"></span>
            </div>

            <div class="mb-6">
                <label asp-for="dateOfBirth" class="block text-gray-700 text-sm mb-2">Date of birth</label>
                <input asp-for="dateOfBirth" type="date"
                       class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
                <span asp-validation-for="dateOfBirth" class="text-red-500 text-xs mt-1"></span>
            </div>

            <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 py-2 px-4 w-full rounded-xl text-white inline-block">
                Edit Profile
            </button>
        </form>
        
    </div>
</main>
